@import "reset";
@import "variables";

*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   font: 400 18px/100% "Ubuntu";
   color: var(--white);
   background-color: var(--purple-400);
   cursor: default;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   .container {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      padding: 0 25px;
   }
}

@import "_header";
@import "_main";
@import "_footer";
@import "media";
