:root {
   --white: #ffffff;
   --purple-100: #50587c;
   --purple-200: #929bbc;
   --purple-300: #394165;
   --purple-400: #1f253d;
   --turquoise-100: #10a8ab;
   --red-100: #e84d5d;
   --red-200: #cc324c;
   --blue-100: #4fc5f7;
   --blue-200: #35abdd;
   --blue-300: #3469af;
   --blue-400: #1a4f95;
   --yellow: #f6b44c;
}
